@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Istok+Web:wght@400;700&family=Lato:wght@100;300;400;700&family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');



.intro {
    border: solid var(--line) 1px;
    padding: 20px 25px 20px 25px;
    border-radius: 4px 0 0 4px;
    text-decoration: none;
    color: white;
    background-color: rgba(220, 20, 60, 0);
    cursor: pointer;
}

.intro:hover, .intro:focus {
    background-color: var(--opaqe);
  }

.work {
    border-top: solid var(--line) 1px;
    border-right: solid var(--line) 1px;
    border-bottom: solid var(--line) 1px;
    padding: 20px 39px 20px 38px;
    text-decoration: none;
    color: white;
    background-color: rgba(220, 20, 60, 0);
    cursor: pointer;
}

.work:hover, .work:focus {
    background-color: var(--opaqe);
  }

.about {
    border-top: solid var(--line) 1px;
    border-right: solid var(--line) 1px;
    border-bottom: solid var(--line) 1px;
    padding: 20px 27px 20px 20px;
    text-decoration: none;
    color: white;
    background-color: rgba(220, 20, 60, 0);
    cursor: pointer;
}

.about:hover, .about:focus {
    background-color: var(--opaqe);
  }

.contact {
    border-top: solid var(--line) 1px;
    border-right: solid var(--line) 1px;
    border-bottom: solid var(--line) 1px;
    padding: 20px 25px 20px 25px;
    border-radius: 0 4px 4px 0;
    text-decoration: none;
    color: white;
    background-color: rgba(220, 20, 60, 0);
    cursor: pointer;
}

.contact:hover, .contact:focus {
    background-color: var(--opaqe);
   
  }

.modalBtnContainer {
    padding-left: 12.8%;
}

/* .modalBtnContainer {
    background-color: blueviolet;
} */

@media all and (max-width: 517px) {
    .modalBtnContainer {
        /* background-color: rgb(255, 136, 0); */
        contain: style layout inline-size;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: 13%;
        left: 700px;
    }

        .intro{
            border: solid var(--line) 1px;
            border-radius: 4px 4px 4px 4px;
            width: 150px;

        }
        .work {
            border: solid var(--line) 1px;
              border-radius: 4px 4px 4px 4px;
              width: 150px;
          }
          .about {
            border: solid var(--line) 1px;
              border-radius: 4px 4px 4px 4px;
              width: 150px;
          }
          .contact {
            border: solid var(--line) 1px;
              border-radius: 4px 4px 4px 4px;
              width: 150px;
          } 

}

/* @media all and (min-width: 481px) {
    .modalBtnContainer {
        background-color: green;
    }

} */

